@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700')

$fonts: Raleway, sans-serif

$primary-color: #fff
$background-color: #000
$secondary-color: #00D5B4
$dark-secondary: #00A087

html, body
  margin: 0

body
  font-family: $fonts
  display: grid
  grid-template-columns: 100%
  justify-content: center
  background-color: $background-color
  scroll-snap-type: y proximity
  overflow-y: scroll

section
  height: 100vh
  scroll-snap-align: start

header
  display: grid
  padding: 20px

  nav
    justify-self: right
    ul
      list-style-type: none
      margin: 0
      li
        display: inline
        a
          color: $primary-color
          opacity: 0.4
          text-transform: uppercase
          text-decoration: none
          padding: 8px 20px
          letter-spacing: 2.5px
          box-shadow: 0 0 0 0 $dark-secondary inset
          transition: box-shadow 150ms ease-in-out, color 150ms ease-in-out
          
          &:hover
            box-shadow: 0 -18px 0 0 $dark-secondary inset
            opacity: 1

#hero
  position: relative
  z-index: 1
  margin: 7% 10%

  #content
    p
      margin: 0
      text-transform: uppercase
      font-size: 6em
      line-height: 5rem

      &:nth-child(1)
        color: $primary-color
        font-weight: 400

      &:nth-child(2)
        color: $secondary-color
        font-weight: 700

.anim
  position: relative
  display: inline-block
  overflow: hidden

  &::before, &::after
    content: ''
    position: absolute
    top: 0
    right: 0
    height: 100%
    z-index: 1
    clip-path: polygon(40% 22%, 100% 0%, 100% 100%, 0% 100%)

  &::before
    background-color: $primary-color
    animation: showText .8s ease

  &::after
    background-color: $secondary-color
    animation-delay: .6s
    animation: showText .7s ease    

  p
    opacity: 0
    animation: animateText .7s forwards

@keyframes animateText
  from
    opacity: 0
  to
    opacity: 1

@keyframes showText
  0%
    width: 0
    left: 0
    transform: translateX(0%)
  50%
    width: 100%
    transform: translateX(12%)
  100%
    transform: translateX(100%)
