@import url('https://fonts.googleapis.com/css?family=Montserrat')

html, body
  margin: 0
  height: 100%

body
  margin-top: 4em
  background-color: black
  color: #fff
  font-family: Montserrat, sans-serif

section
  display: grid
  grid-template-columns: 20% auto
  padding: 2em

p
  padding: 0 2em 1em
